
body{
    grid-template-rows: 1fr 7fr;
}


.content {
    width: 98vw;
    display: grid;
    height: 99%;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 3fr, 3fr;
}


  
  
  
  
  
  
  
  
  