
body{
    grid-template-rows: 1fr 7fr;
}


.content {
    width: 98vw;
    display: grid;
    height: 99%;
    grid-template-columns: repeat(4, 1fr);
}

.inp_cont{
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 8fr 1fr;
}


  
  
  
  
  
  